*.pyc
*.so
*.egg-info
*.whl
Hello.txt
.DS_Store
.mypy_cache/
.pytest_cache/
/docs/build
/docs/_autosummary
.idea
.vscode
/test/*.tsv
/test/*.csv
/test/outputs/
__pycache__/
lightning_logs/

# virtualenv/venv directories
/venv/
/bin/
/include/
/lib/
/share/